<mat-toolbar color="primary" class="mat-elevation-z6 app-toolbar">
  <mat-icon>coronavirus</mat-icon>
  <span class="ml-1">{{title | uppercase}}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="today">Today</button>
  <button mat-button routerLink="charts">Charts</button>
  <button mat-button routerLink="data-table">Data</button>
  <button mat-button [matMenuTriggerFor]="menu" class="ml-2">
    {{selectedRegion}} <mat-icon style="margin-right: -10px">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu>
    <button *ngFor="let item of REGIONS" mat-menu-item (click)="onSelectMenuItem(item)">{{item}}</button>
  </mat-menu>
</mat-toolbar>
