<mat-card class="mat-elevation-z3">
  <mat-card-header class="mt-2">
    <mat-icon mat-card-avatar svgIcon="{{icon}}" color="accent"></mat-icon>
    <mat-card-title>{{title | uppercase}}</mat-card-title>
    <mat-card-subtitle class="data">{{data | number}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="delta != 0" class="delta" style="float: left">{{delta > 0 ? '+' : ''}}{{delta | number}}</span>
    <mat-icon *ngIf="sevenDaysDelta != null"
              svgIcon="{{sevenDaysDelta === 0 ? 'arrow-right-thick' : (sevenDaysDelta > 0 ? 'arrow-top-right-thick' : 'arrow-bottom-right-thick')}}"
              color="primary"
              style="float: right"
              matTooltip="Last week trend"></mat-icon>
    <mat-icon *ngIf="sevenDaysDelta == null" style="float: right"></mat-icon>
    <div style="clear: both"></div>
  </mat-card-content>
</mat-card>
