<mat-card-title>Dati</mat-card-title>

<div class="row mt-4">
  <div class="col-12 col-md-6">
    <div class="row">
      <mat-form-field class="col-6">
        <mat-label>Da</mat-label>
        <input matInput
               [(ngModel)]="fromDate"
               [matDatepicker]="fromDatePicker"
               [max]="toDate"
               (click)="fromDatePicker.open()"
               (dateChange)="filterDataset()"
               [readonly]="true"
               name="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>A</mat-label>
        <input matInput
               [(ngModel)]="toDate"
               [matDatepicker]="toDatePicker"
               [min]="fromDate"
               (click)="toDatePicker.open()"
               (dateChange)="filterDataset()"
               [readonly]="true"
               name="toDate">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="table-responsive mat-elevation-z3">
  <table mat-table [dataSource]="filteredDataSource">
    <ng-container matColumnDef="date" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'Data' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.date | amDateFormat:'YYYY-MM-DD'}}</td>
    </ng-container>

    <ng-container matColumnDef="total" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'Totali' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.totalCases | number}}</td>
    </ng-container>

    <ng-container matColumnDef="active" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'Attivi' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.activeCases | number}}</td>
    </ng-container>

    <ng-container matColumnDef="recovered" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'Guariti' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.recovered | number}}</td>
    </ng-container>

    <ng-container matColumnDef="deaths" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'Morti' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.deaths | number}}</td>
    </ng-container>

    <ng-container matColumnDef="hospitalized" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'Ricoverati' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.hospitalized | number}}</td>
    </ng-container>

    <ng-container matColumnDef="icu" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'TI' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.icu | number}}</td>
    </ng-container>

    <ng-container matColumnDef="tests" mat-align-tabs="center">
      <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>
        {{ 'Tamponi' | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.tests | number}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="COLUMNS; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: COLUMNS"></tr>
  </table>

  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[15, 30, 60, 90]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</div>
