<mat-card-title>Today</mat-card-title>

<div *ngIf="todayData" class="row mt-5">
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-3"
                  title="{{'Total cases' | uppercase}}"
                  [data]="todayData.totalCases"
                  [delta]="deltaData.totalCases"
                  [sevenDaysDelta]="sevenDaysDelta.totalCases"
                  icon="chart-donut"
                  color="accent"></app-today-card>
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-2"
                  title="{{'Active cases' | uppercase}}"
                  [data]="todayData.activeCases"
                  [delta]="deltaData.activeCases"
                  [sevenDaysDelta]="sevenDaysDelta.activeCases"
                  icon="plus"
                  color="accent"></app-today-card>
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-2"
                  title="{{'Recovered' | uppercase}}"
                  [data]="todayData.recovered"
                  [delta]="deltaData.recovered"
                  [sevenDaysDelta]="sevenDaysDelta.recovered"
                  icon="check"
                  color="primary"></app-today-card>
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-2"
                  title="{{'Deaths' | uppercase}}"
                  [data]="todayData.deaths"
                  [delta]="deltaData.deaths"
                  [sevenDaysDelta]="sevenDaysDelta.deaths"
                  icon="grave-stone"
                  color="warn"></app-today-card>
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-2"
                  title="{{'Hospitalized' | uppercase}}"
                  [data]="todayData.hospitalized"
                  [delta]="deltaData.hospitalized"
                  [sevenDaysDelta]="sevenDaysDelta.hospitalized"
                  icon="hospital"
                  color="accent"></app-today-card>
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-2"
                  title="{{'ICU' | uppercase}}"
                  [data]="todayData.icHospitalized"
                  [delta]="deltaData.icHospitalized"
                  [sevenDaysDelta]="sevenDaysDelta.icHospitalized"
                  icon="doctor"
                  color="warn"></app-today-card>
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-2"
                  title="{{'Tests' | uppercase}}"
                  [data]="todayData.tests"
                  [delta]="deltaData.tests"
                  [sevenDaysDelta]="sevenDaysDelta.tests"
                  icon="test-tube"
                  color="primary"></app-today-card>
  <app-today-card class="col col-12 col-md-6 col-lg-4 col-xl-3 mb-2"
                  title="{{'Positives' | uppercase}}"
                  [data]="deltaData.totalCases / deltaData.tests * 100"
                  [sevenDaysDelta]="sevenDaysDelta.totalCases / sevenDaysDelta.tests * 100"
                  icon="percent"
                  color="accent"></app-today-card>
</div>

<div class="mt-5" style="text-align: center">
  <mat-card-subtitle>Last update: {{todayData.date | amCalendar}}</mat-card-subtitle>
</div>
