<mat-card-title>Grafici</mat-card-title>

<div class="row mt-4">
  <div class="col-12 col-md-6">
    <app-date-filter [(fromDate)]="fromDate" (fromDateChange)="filterDataset()"
                     [(toDate)]="toDate" (toDateChange)="filterDataset()"></app-date-filter>
  </div>
</div>

<mat-accordion multi>
  <mat-expansion-panel [expanded]="true">
    <plotly-plot *ngIf="graphData.data" [data]="graphData.data.data" [layout]="graphData.data.layout" [config]="config" [useResizeHandler]="true"></plotly-plot>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <plotly-plot *ngIf="graphData.delta" [data]="graphData.delta.data" [layout]="graphData.delta.layout" [config]="config" [useResizeHandler]="true"></plotly-plot>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <plotly-plot *ngIf="graphData.hospitalized" [data]="graphData.hospitalized.data" [layout]="graphData.hospitalized.layout" [config]="config" [useResizeHandler]="true"></plotly-plot>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <plotly-plot *ngIf="graphData.deltaHospitalized" [data]="graphData.deltaHospitalized.data" [layout]="graphData.deltaHospitalized.layout" [config]="config" [useResizeHandler]="true"></plotly-plot>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <plotly-plot *ngIf="graphData.positivePercentage" [data]="graphData.positivePercentage.data" [layout]="graphData.positivePercentage.layout" [config]="config" [useResizeHandler]="true"></plotly-plot>
  </mat-expansion-panel>
</mat-accordion>
