<mat-card-title>Grafici</mat-card-title>

<div class="row mt-4">
    <div class="col-12 col-md-6">
        <app-date-filter
            [(fromDate)]="fromDate"
            (fromDateChange)="filterDataset()"
            [(toDate)]="toDate"
            (toDateChange)="filterDataset()"
        ></app-date-filter>
    </div>
</div>

<mat-accordion multi>
    <ng-container *ngFor="let graph of graphs">
        <mat-expansion-panel [expanded]="true">
            <plotly-plot
                [data]="graphData[graph].data"
                [layout]="graphData[graph].layout"
                [config]="config"
                [useResizeHandler]="true"
            ></plotly-plot>
            <button
                mat-mini-fab
                color="primary"
                class="full-screen-button"
                matTooltip="Schermo intero"
                (click)="openFullScreen(graph)"
            >
                <mat-icon>fullscreen</mat-icon>
            </button>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>
